.con {
  width: 700px;
  height: 100px;
  background: green;
  line-height: 100px;
  text-align: center; }

.title, .title1 {
  margin: 20px;
  width: 600px;
  background: blue;
  line-height: 50px;
  text-align: center;
  color: #333333;
  font-size: 12px; }

/*$div-text:(font-size:12px,
        color:#889898,
        background-color:pink,
        margin-bottom:20px,
        width:900px,
        height:60px,
        text-align:center,
        line-height:60px
);

@function lis($con,$list){
   @if map_has_key($con,$list) {
     @return map_get($con, $list);
   }
     @else{@warn "no color";}

}
.m-fun-div{
  @each $shx,$value in $div-text{

    #[$shx]:lis($div-text,$value);

     }
}

*/
.lin {
  color: red; }
  .lin:hover {
    color: green; }

/* */
.m-ul {
  width: 500px;
  height: 100px;
  background: #eee;
  color: red;
  border: 3px solid black;
  background: #674646; }
  .m-ul ul {
    background: #979787;
    width: 400px;
    list-style: none;
    height: 50px; }
    .m-ul ul li {
      font-size: 15px; }
